@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#header{
    width: 100%;
    height: 120px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(203,200,200,1) 100%);
    border-bottom: black solid 2px;
}

#logo{
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    font-size: xx-large;
    right: -47.5%;
    bottom: -40px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    text-align: center;
    padding-left: 6px;
}

#review{
    font-family: 'Titillium Web', sans-serif;
    font-size: small;
    text-align: center;
    position: relative;
    right: -48%;
    bottom: -35px;
}

#menu{
    width: 100%;
    height: 24px;
    background: white;
    border-bottom: black solid 2px;
    margin-bottom: 5px;
}

#footer{
    width: 100%;
    height: 150px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(203,200,200,1) 100%);
    border-bottom: black solid 2px;
}

#menu ul{
    position: relative;
    right: -17%;
}
#footer li{
    position: relative;
    right: -35%;
    bottom: -40%;
}

li{
    text-align: center;
    display: inline;
    cursor: pointer;
    width: 20%;
    padding: 0 50px;
    font-family: 'Titillium Web', sans-serif;
    /*border: 2px solid black;*/
    margin: 0px;
    /*border-left: 2px solid black;*/
}

/*a:hover{*/
/*    color: whitesmoke;*/
/*}*/
li:hover{
    background: black;
    color: whitesmoke;
    width: 100%;
}

a{
    color: black;
    font-family: 'Titillium Web', sans-serif;
    /*text-decoration: none;*/
}

li:first-of-type{
    /*border-left: 2px solid black;*/
}

#main{
    height: 750px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(203,200,200,1) 100%);
    border-bottom: 2px solid black;
}

#mainimg{
    width: 384px;
    height: 288px;
    float: left;
    shape-outside: polygon(0 0, 80% 0, 100% 99%, 0% 100%);
    clip-path: polygon(0 0, 80% 0, 100% 99%, 0% 100%);
    shape-margin: 20px;
}

.mainreview{
    position: relative;
    right: -68px;
    bottom: -40px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 550px;
    height: 288px;
    line-height: 1;
    background: whitesmoke;
    font-family: 'Titillium Web', sans-serif;
    font-size: small;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 10px black;
}

#block1{
    position: relative;
    right: -120px;
}

#mainreviewtext{
    position: relative;
    bottom: -39%;
    text-decoration: none;
    right: -9px;
    text-shadow: 1px 1px 1px black;
}

#linkdetails{
    position: relative;
    top: -35px;
    right: -195px;
    font-size: medium;
}

#mainimg1{
    width: 500px;
    height: 290px;
    float: right;
    shape-outside: polygon(25% 0%, 100% 0%, 100% 100%, 40% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 40% 100%);
    shape-margin: 20px;
    position: relative;
    right: 0px;

}

#mainreviewtext1{
    position: relative;
    right: -20px;
    bottom: -105px;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px black;
}

#linkdetails1{
    position: relative;
    top: -18px;
    left: 0px;
    font-size: medium;
}

#block2{
    float: right;
    position: relative;
    left: -120px;
    top: -271px;
}

.img{
    border-radius: 10px;
}
